:root {
  --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

@font-face {
  font-family: "Rec";
  src: url("/Fonts/Recrusive/Font1-Rec.woff2")
      format("woff2 supports variations"),
    url("/Fonts/Recrusive/Font1-Rec.woff2") format("woff2-variations");
  font-weight: 200 900;
}

@font-face {
  font-family: "Recitalic";
  src: url("/Fonts/Recrusive/rectalic.woff2")
      format("woff2 supports variations"),
    url("/Fonts/Recrusive/recitalic.woff2") format("woff2-variations");
  font-weight: 200 900;
}

@font-face {
  font-family: "Rubik";
  src: url("/Fonts/Rubik/Rubik.ttf") format("truetype"),
    url("/Fonts/Rubik/Rubik.ttf") format("truetype");
  font-weight: 300 900;
}

@font-face {
  font-family: "Ittalic";
  src: url("/Fonts/Rubik/Ittalic.ttf") format("truetype"),
    url("/Fonts/Rubik/Ittalic.ttf") format("truetype");
  font-weight: 300 900;
}

#image {
  background-image: url();
  background-color: #333333;
  font-family: "Rubik", var(--font-fallback);
  font-weight: 420;
  opacity: 1;
}

#heading {
  font-family: "Rec", var(--font-fallback);
  font-weight: 600;
  text-align: center;
}

i {
  font-weight: 415;
  font-family: "Ittalic", var(--font-fallback);
}

#wrapper {
  border-radius: 10px;
  width: 980px;
  height: 768px;
  background-color: #ed2123;
  margin-left: auto;
  margin-right: auto;
}

#banner {
  border-radius: 8px;
  width: 960px;
  height: 130px;
  background-color: #0e0d0d;
  color: #fff;
  font-size: 55px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 50px;
  padding-left: 10px;
}

#menubar {
  border-radius: 8px;
  width: 980px;
  height: 40px;
  background-color: #000;
}

#menubar ul {
  border-radius: 8px;
  list-style-type: none;
  padding-left: 0;
}

#menubar ul li {
  border-radius: 8px;
  display: inline;
}

#menubar ul li a {
  border-radius: 8px;
  width: 196px;
  color: #fff;
  text-decoration: none;
  float: left;
  text-align: center;
  line-height: 40px;
}

#menubar ul li a:hover {
  border-radius: 8px;
  color: #ed2123;
  background-color: #000;
}

#container {
  border-radius: 8px;
  width: 980px;
  height: 1259px;
  background-color: grey;
}

#footer {
  border-radius: 8px;
  width: 980px;
  height: 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 40px;
}

#content {
  border-radius: 8px;
  width: 740px;
  height: 1250px;
  background-color: #0e0e0e;
  color: #ed2123;
  float: left;
  margin: 5px;
  text-align: center;
}

#sidebar {
  border-radius: 8px;
  width: 225px;
  height: 1250px;
  background-color: #ed2123;
  color: aliceblue;
  float: left;
  margin: 5px 5px 5px 0;
}
